@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --background-color: #0D1418;
    /*#0D1418*/
    --header-footer-color: #2A2F32;
    /*#2A2F32*/
    --input-color: #131C21;
    /*#131C21*/
    --input-inside-color: #323739;
    /*#323739*/
    --search-box-color: #1E2428;
    /*#1E2428*/
    --text-color: #FFF;
    /*#FFF*/
    --their-text-chats-color: #1E2428;
    /*#1E2428*/
    --my-text-chats-color: #054740;
    /*#054740*/
    --chat-bg-opacity: 0.1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-drag: none;
    font-family: "Nunito", sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.whatsapp {
    height: fit-content;
    width: fit-content;
    color: white;
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sidebar {
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: black;
}

.header {
    height: 60px;
    width: 100%;
    position: absolute;
    background-color: var(--header-footer-color);
    border-bottom: 1px solid var(--header-footer-color);
}

.my-profile-picture {
    margin: auto;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 15px;
    bottom: 0;
}

.header-stuff {
    position: absolute;
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
}

.header-stuff img {
    height: 20px;
    cursor: pointer;
}

.menu {
    position: absolute;
    height: fit-content;
    width: 150px;
    background-color: var(--input-color);
    color: var(--text-color);
    margin: auto;
    top: 50px;
    right: 15px;
    border-radius: 7px;
    z-index: 2;
    overflow: hidden;
    transition: .3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.089);
}

.menu.closed {
    opacity: 0;
    pointer-events: none;
}

.menu>div {
    padding: 10px 8px;
    cursor: pointer;
}

.menu div:hover {
    background: var(--header-footer-color);
}

.search-box {
    height: 60px;
    background-color: var(--search-box-color);
    width: 100%;
    position: absolute;
    top: 60px;
    border-bottom: 1px solid var(--header-footer-color);
}

.search-box .search {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 70%;
    width: 95%;
    padding: 0 40px;
    margin: auto;
    position: absolute;
    background: var(--input-inside-color);
    border: 0;
    outline: none;
    color: var(--text-color);
    border-radius: 50px;
}

.search-box .search-btn {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    z-index: 2;
}

.chats {
    position: absolute;
    height: calc(100% - 120px);
    width: 100%;
    background-color: var(--input-color);
    top: 120px;
}

.chat {
    white-space: nowrap;
    border-bottom: 1px solid var(--header-footer-color);
    /* border-bottom: 1px solid #CACACA; */
    padding: 10px 20px;
    cursor: pointer;
}

.chat:hover {
    background-color: var(--header-footer-color);
}

.profile-picture {
    height: 35px;
    border-radius: 50px;
}

.title {
    color: var(--text-color);
}

.chat .title {
    font-size: 19px;
}

.chat .last-text {
    margin-top: -3px;
    color: #acacac;
}

.chat .chat-info {
    display: inline-block;
    margin-left: 10px;
}

.chat-box {
    position: absolute;
    height: 100%;
    width: 70%;
    left: 30%;
    background-color: var(--background-color);
    transition: .3s;
    z-index: 2;
    transform: translateX(-100%);
}

.chat-header {
    height: 60px;
    position: absolute;
    margin: auto;
    width: 100%;
    top: 0;
    border-left: 1px solid var(--input-inside-color);
    background-color: var(--header-footer-color);
}

.chat-header .profile-picture {
    position: absolute;
    margin: auto;
    top: 0;
    left: 15px;
    bottom: 0;
}

.chat-header .chat-info {
    position: absolute;
    height: fit-content;
    width: fit-content;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 60px;
}

.chat-header .title {
    font-size: 19px;
    margin: 0;
}

.chat-header .last-seen-at {
    font-size: 15px;
    margin-top: -3px;
    width: fit-content;
    color: #acacac;
}

.chat-body,
.chat-body-bg {
    position: absolute;
    height: calc(100% - 120px);
    width: 100%;
    top: 60px;
    padding: 10px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.chat-body-bg {
    opacity: var(--chat-bg-opacity);
    background: url("./dark-chat-bg.png");
    background-size: contain;
}

.chat-body::-webkit-scrollbar {
    appearance: none;
    background: var(--input-color);
    width: 8px;
}

.chat-body::-webkit-scrollbar-thumb {
    background: var(--header-footer-color);
}

.chat-footer {
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0;
    background-color: var(--search-box-color);
}

.emoji {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25px;
    left: 20px;
    margin: auto;
}

.text-input {
    position: absolute;
    height: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 0;
    outline: none;
    padding: 0 20px;
    width: calc(100% - 120px);
    left: 60px;
    border-radius: 50px;
    color: var(--text-color);
    background-color: var(--input-inside-color)
}

.mic {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25px;
    right: 20px;
    margin: auto;
    cursor: pointer;
}

.message-holder {
    height: fit-content;
    width: 100%;
    display: inline-block;
    margin-bottom: 4px;
}

.text {
    position: relative;
    height: fit-content;
    width: fit-content;
    padding: 5px 8px;
    color: var(--text-color);
    border-radius: 5px;
    max-width: 80%;
}

.text.my-msg {
    background: var(--my-text-chats-color);
    margin-left: auto;
    right: 0;
}

.text.their-msg {
    background: var(--their-text-chats-color);
    margin-right: auto;
    left: 0;
}

.time-stamp {
    margin-top: 2px;
    font-size: 10px;
    text-align: right;
    color: #acacac;
}

.their.triangle {
    position: absolute;
    top: -6px;
    height: 20px;
    left: -10px;
}

.my.triangle {
    position: absolute;
    top: -6px;
    height: 20px;
    right: -10px;
}

.my.triangle path {
    fill: var(--my-text-chats-color);
}

.their.triangle path {
    fill: var(--their-text-chats-color);
}

.login-page {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: var(--input-color);
    z-index: 3;
    transition: ease .3s;
}

.whatsapp-logo {
    position: absolute;
    height: 150px;
    margin: auto;
    right: 0;
    left: 0;
    top: 30%;
}

.logIn-btn {
    position: absolute;
    height: 40px;
    margin: auto;
    right: 0;
    left: 0;
    top: 50%;
    cursor: pointer;
}

.back-btn {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 25px;
    display: none;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }

    .chat-body::-webkit-scrollbar {
        display: none;
    }

    .chat-box {
        width: 100%;
        left: 0;
        transform: translateX(100%);
    }

    .sidebar .header,
    .chat-header {
        background: #075E54;
        color: var(--input-color);
    }

    .sidebar .header .header-stuff .create-message {
        opacity: 0;
    }

    .sidebar .header .my-profile-picture {
        left: unset;
        right: 35px;
    }

    .chat-header .profile-picture {
        left: 45px;
    }

    .chat-header .chat-info {
        left: 90px;
    }

    .back-btn {
        display: block;
    }

    .whatsapp {
        display: block;
    }

    .chat-header .title {
        color: white;
    }

    .chat-body-bg {
        background-size: cover;
    }
}